.admin-tabs{
    display:flex;
    width:min(420px, 100%);
    background:#171b24;
    border-radius:14px;
    overflow:hidden;
}

.admin-tabs button{
    flex:1;
    padding:14px;
    border:none;
    cursor:pointer;
    color:#aaa;
    background:transparent;
}

.admin-tabs .active{
    background:white;
    color:black;
    font-weight:600;
}